@{
    ViewBag.Title = "About";
}


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>

    <div class="p">
        <div>
            <h3 class="vi"> Misión   </h3>
        </div>

        <div>
            <h3 class="zo">    ZocoStore:   </h3>
        </div>
        
        Nuestra misión es ir  continúa aumentando el nivel de experiencia del cliente. Mediante el uso de Internet, ayudando a los consumidores a encontrar, de manera rápida y sencilla, los productos que desea, y empoderando a las pymes y pequeños distribuidores nacionales, con una interfaz intuitiva, sencilla y responsiva para el cliente y comerciante
        <div>
            <h3 class="vi"> Visión   </h3>
        </div>

        ser la empresa líder en ventas, preferida a nivel nacional e imponer tendencia en compras digitales

        valores
        compromiso, responsabilidad, union y mejora




    </div>
    <style>


        .vi {
            background-color: blueviolet;
            width: 100px;
            height: 30px;
            text-align: center;
            font-family: Calibri;
            color: aliceblue;
            font-size: 30px;
        }
        .zo {
            background-color:goldenrod;
            width: 120px;
            height: 30px;
            text-align: center;
            font-family: Calibri;
            color: aliceblue;
        }
        .p {
            color:black;
           
            font-family: Calibri;
            font-size:30px;
        }
    </style>
</body>
</html>


