
@{
    ViewBag.Title = "Control_Carausel";
}


<!
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div class="Diseño">  <h2>Hola Isabel</h2> 
    
    </div>
   


</body>
</html>

<!--Esto es css-->
<style>

    .Diseño { 
        background-color:goldenrod;
        text-align:center;

    }




</style>