
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/css/Contact.css" rel="stylesheet" />

</head>
<body>
    <div>
        <section class="form-contact">
            <header>
                <span>
                    <i class="fa fa-paper-plane" aria-hidden="true">Error_No estas autorizado:</i>
                </span>
            </header>

            <form action="" class="contact" method="POST">

                <img src="~/Imagenes/333.jpg" alt="" />
                <div class="posicion">

                    <button class="btn btn-lg btn-primary">

                        @Html.ActionLink("Ir a inicio", "Index", "Home")
                    </button>

                </div>
              


            </form>
        </section>
      

    </div>
</body>
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        background: #f7faf9;
        font-family: Arial, Helvetica, sans-serif;
    }

    .form-contact {
        background: #FFF;
        width: 800px;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 7px 13px 37px rgba(0, 0, 0, .8);
    }

    header {
        width: 100%;
        background: #cc0404;
        overflow: hidden;
        color: white;
    }

        header span {
            font-size: 20px;
            display: block;
            text-align: center;
            padding: 2.5rem;
        }

    .contact {
        padding: .8rem;
        overflow: hidden;
    }

        .contact label, .contact input, .contact textarea {
            display: block;
            width: 100%;
            margin-bottom: 5px;
        }

        .contact label {
            font-weight: 700;
        }

        .contact input:not([type='submit']), .contact textarea {
            border: none;
            border-bottom: 2px solid #cc0404;
            margin-bottom: 10px;
            font-size: 20px;
            outline: none;
            color: gray;
        }

        .contact textarea {
            min-height: 100px;
        }

    input[type='submit'] {
        padding: 10px;
        background: #04cc72;
        border: none;
        color: white;
        font-size: 20px;
        /* pointer-events: none; */
        cursor: pointer;
    }
</style>
<!--  Agregamos nuevo boton para retornar al inicio-->
<div class="boton">
   


    <style>

        .btn > a{

            color:aliceblue;
        }

        .posicion {
        position:absolute;
        border: 1px solid red;
        
        }
        .boton {
            width:fit-content;
            border-radius: 80px;
            text-align: center;
            position: relative;
            left: 250px;
            top: 800px;
            border: 1px solid red;
        }
    </style>

</div>